@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #111827;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

nav {
    flex-shrink: 0;
}